body {
    background-color: #342a74;
}

.is-hidden {
    display: none !important;
}

#game-welcome {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#game-welcome>.container {
    width: 600px;
    height: calc(390px + 70px + 273px);
    max-height: 100%;
    margin: 0 auto;
}

#game-welcome>.container>.section--new-game,
#game-welcome>.container>.section--new-game>.section--new-game--header,
#game-welcome>.container>.section--new-game>.section--new-game--content,
#game-welcome>.container>.section--new-game>.section--new-game--content>form,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels {
    width: 100%;
}

#game-welcome>.container>.section--new-game>.section--new-game--header {
    margin-bottom: 50px;
}

#game-welcome>.container>.section--new-game>.section--new-game--header>h1 {
    width: 100%;
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#game-welcome>.container>.section--new-game>.section--new-game--header>h1::before {
    content: '\f1e2';
    top: 50%;
    left: 50%;
    font-family: "Font Awesome 5 Pro";
    font-size: 72px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>p {
    width: 100%;
    margin-bottom: 20px;
    color: rgb(180, 169, 255);
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels>label {
    width: calc(90% / 4);
    padding: 25px 10px;
    /* border: 2px solid white; */
    border-radius: 5px;
    background-color: #494082;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels>label>input {
    display: none;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels>label>* {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-align: center;
    display: block;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels>label>*:not(:last-child) {
    margin-bottom: 15px;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.levels>label>i {
    font-size: 42px;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>span,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>input {
    width: 100%;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>span,
#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>input {
    display: inline-block;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level {
    margin-top: 40px;
    padding: 40px;
    border: 3px solid #494082;
    border-radius: 5px;
    text-align: center;

    animation-name: show_custom_lvl;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes show_custom_lvl {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level::before {
    content: '';
    top: 0;
    left: calc((90% / 4) * 4);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #494082;
    transform: translate(-60%, -100%);
    position: absolute;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>span {
    width: 85%;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    line-height: 1.4;
}

#game-welcome>.container>.section--new-game>.section--new-game--content>form>.custom-level>label>input {
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 56px;
    text-align: center;
    background-color: #494082;
}

#game-welcome>.container>.section--history-results,
#game-welcome>.container>.section--history-results>div,
#game-welcome>.container>.section--history-results>div>h2 {
    width: 100%;
}

#game-welcome>.container>.section--history-results {
    margin-top: 70px;
    margin-bottom: 30px;
}

#game-welcome>.container>.section--history-results>.section--history-results--header>h2 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

#game-welcome>.container>.section--history-results>.section--history-results--header>p {
    color: rgb(180, 169, 255);
}

#game-welcome>.container>.section--history-results>.section--history-results--content {
    height: 305px;
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list {
    width: 100%;
    min-height: 305px;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list,
#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item {
    width: 100%;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item {
    padding: 15px 25px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>div>* {
    font-size: 18px;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>div>*:not(:last-child) {
    margin-right: 10px;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>.hl--item--pos {
    width: 48px;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>.hl--item--username {
    width: calc(100% - (48px + 120px + 120px));
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>.hl--item--bombs,
#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--list>.history-list>.hl--item>.hl--item--time {
    width: 120px;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.9;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>div {
    width: 128px;
    margin: 0 -10px;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(180deg, #494082, transparent);
    overflow: hidden;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>div::before {
    content: '';
    width: 100%;
    display: inline-block;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-1::before {
    padding-top: 100%;
    background-image: linear-gradient(180deg, #494082 60%, transparent);
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-2::before {
    padding-top: 70%;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-3::before {
    padding-top: 40%;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-1 {
    z-index: 3;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-1>i {
    top: 30%;
    left: 50%;
    font-size: 32px;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    position: absolute;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-2 {
    z-index: 2;
    opacity: 0.7;
}

#game-welcome>.container>.section--history-results>.section--history-results--content>.section--history-results--bg>.podium-box>.podium-3 {
    z-index: 1;
    opacity: 0.4;
}


#game-board {
    width: auto;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: transparent;
    transform: translate(-50%, -50%);
    display: inline-block;
    position: absolute;
}

.g-actions {
    width: 100%;
    margin-bottom: 30px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    animation-name: load_actions;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes load_actions {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.g-actions * {
    font-size: 24px;
    color: white;
    line-height: 1;
}

.g-actions>div {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.g-actions>div>i {
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.3);
}

.g-board {
    width: auto;
    display: inline-block;
}

.g-board>.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.g-board>.row>.col {
    width: 52px;
    line-height: 0;
    opacity: 0;
    cursor: pointer;

    animation-name: load_board;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes load_board {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.g-board>.row>.col::before {
    content: '';
    width: 100%;
    padding-top: 100%;
    display: inline-block;
}

/* .g-board>.row>.col::after {
    content: '';
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: white;
    position: absolute;
} */

.g-board>.row>.col>.col-content {
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    line-height: 1;
    transition: 0.4s;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.g-board>.row>.col.is-opened>.col-content {
    border-color: rgba(255, 255, 255, 0.3);
}

.g-board>.row>.col.bomb-activated>.col-content {
    color: #ff6969;
    border-color: #ff6969;
}

.g-board>.row>.col>.col-content,
.g-board>.row>.col>.col-content * {
    font-size: 21px;
}

.g-board>.row>.col>.col-content * {
    color: inherit;
    opacity: 0;
    transform: scale(0.2);

    animation-name: show_content;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}


@keyframes show_content {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}